<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Checkerboard</h1>
    <div class="board">
        {% for x in range(number) %}
            <Div class="col{{loop.index %2}}">
                {% for col in range(8) %}
                    <div class="block{{loop.index %2}}"></div>
                {% endfor %}
            </Div>
        {% endfor %}
    </div>
</body>
</html>